<h1>Login...it's fun!</h1>

<%= form_for(:session) do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email, placeholder: "Email Address" %>
  <br>
  <br>
  <%= f.label :password %>
  <%= f.password_field :password, placeholder: "Your Password" %>
  <br>
  <br>
  <%= f.submit "Log In" %>
<% end %>
