<h1>New User! Wohoo!</h1>
<br>
<%= form_for(@user) do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email, placeholder: "Email Address" %>
  <br>
  <br>
  <%= f.label :password %>
  <%= f.password_field :password, placeholder: "Choose a Password" %>
  <br>
  <br>
  <%= f.submit "Sign Up" %>
<% end %>
